# Ensemble Learning

## Initial Imports

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
pip install imblearn

Requirement already satisfied: imblearn in c:\users\larisa\anaconda3\lib\site-packages (0.0)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: imbalanced-learn in c:\users\larisa\anaconda3\lib\site-packages (from imblearn) (0.8.0)
Requirement already satisfied: scikit-learn>=0.24 in c:\users\larisa\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (0.24.1)
Requirement already satisfied: scipy>=0.19.1 in c:\users\larisa\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.6.2)

Requirement already satisfied: joblib>=0.11 in c:\users\larisa\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.0.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\larisa\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.20.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\larisa\anaconda3\lib\site-packages (from scikit-learn>=0.24->imbalanced-learn->imblearn) (2.1.0)

In [3]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [4]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from sklearn.preprocessing import LabelEncoder, StandardScaler

## Read the CSV and Perform Basic Data Cleaning

In [5]:
# Load the data
file_path = Path('Resources/LoanStats_2019Q1.csv')
df = pd.read_csv(file_path)

# Preview the data
df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

## Split the Data into Training and Testing

In [6]:
pd.options.display.max_rows=100
columns=df.dtypes=='object'
list(columns[columns].index)

list_columns=list(columns[columns].index)
list_columns

['home_ownership',
 'verification_status',
 'issue_d',
 'loan_status',
 'pymnt_plan',
 'initial_list_status',
 'next_pymnt_d',
 'application_type',
 'hardship_flag',
 'debt_settlement_flag']

In [7]:
for i in list_columns:
    le = LabelEncoder()

# Encoding homeowner column
    le.fit(df[i])
    df[i] = le.transform(df[i])

In [8]:
df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,3,66000.0,1,2,1,0,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,0,0
1,25000.0,0.2000,929.09,1,105000.0,2,2,1,0,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,0,0
2,20000.0,0.2000,529.88,1,56000.0,2,2,1,0,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,0,0
3,10000.0,0.1640,353.55,3,92000.0,2,2,1,0,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,0,0
4,22000.0,0.1474,520.39,1,52000.0,0,2,1,0,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,0,0

In [9]:
le = LabelEncoder()

# Encoding homeowner column
le.fit(df["verification_status"])
df["verification_status"] = le.transform(df["verification_status"])

df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,3,66000.0,1,2,1,0,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,0,0
1,25000.0,0.2000,929.09,1,105000.0,2,2,1,0,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,0,0
2,20000.0,0.2000,529.88,1,56000.0,2,2,1,0,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,0,0
3,10000.0,0.1640,353.55,3,92000.0,2,2,1,0,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,0,0
4,22000.0,0.1474,520.39,1,52000.0,0,2,1,0,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,0,0

In [10]:
# Create our features
X= df.drop(columns="loan_status")

# Create our target
y=df["loan_status"]

In [11]:
X.describe()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,pymnt_plan,dti,delinq_2yrs,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
count,68817.000000,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.0,68817.000000,68817.000000,...,68817.000000,68817.000000,68817.000000,68817.0,6.881700e+04,6.881700e+04,68817.000000,6.881700e+04,68817.0,68817.0
mean,16677.594562,0.127718,480.652863,1.812779,8.821371e+04,0.669994,0.805542,0.0,21.778153,0.217766,...,95.057627,30.626217,0.125972,0.0,2.100332e+05,6.133843e+04,29734.128558,5.572240e+04,0.0,0.0
std,10277.348590,0.048130,288.062432,0.941313,1.155800e+05,0.719105,0.714932,0.0,20.199244,0.718367,...,8.326426,33.631463,0.336732,0.0,1.928088e+05,5.738798e+04,26795.394232,5.095845e+04,0.0,0.0
min,1000.000000,0.060000,30.890000,0.000000,4.000000e+01,0.000000,0.000000,0.0,0.000000,0.000000,...,20.000000,0.000000,0.000000,0.0,3.600000e+03,2.350000e+02,100.000000,1.270000e+02,0.0,0.0
25%,9000.000000,0.088100,265.730000,1.000000,5.000000e+04,0.000000,0.000000,0.0,13.890000,0.000000,...,93.000000,0.000000,0.000000,0.0,6.697700e+04,2.650300e+04,11600.000000,2.288000e+04,0.0,0.0
50%,15000.000000,0.118000,404.560000,1.000000,7.300000e+04,1.000000,1.000000,0.0,19.760000,0.000000,...,100.000000,20.000000,0.000000,0.0,1.467100e+05,4.535700e+04,22100.000000,4.200000e+04,0.0,0.0
75%,24000.000000,0.155700,648.100000,3.000000,1.040000e+05,1.000000,1.000000,0.0,26.660000,0.000000,...,100.000000,50.000000,0.000000,0.0,3.036400e+05,7.657000e+04,39300.000000,7.249900e+04,0.0,0.0
max,40000.000000,0.308400,1676.230000,3.000000,8.797500e+06,2.000000,2.000000,0.0,999.000000,18.000000,...,100.000000,100.000000,4.000000,0.0,3.292782e+06,1.295455e+06,509400.000000,1.426964e+06,0.0,0.0

In [12]:
# Check the balance of our target values
y.value_counts()

1    68470
0      347
Name: loan_status, dtype: int64

In [13]:
# Split the X and y into X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test= train_test_split(X,y, random_state=1,stratify=y)

## Data Pre-Processing

Scale the training and testing data using the `StandardScaler` from `sklearn`. Remember that when scaling the data, you only scale the features data (`X_train` and `X_testing`).

In [14]:
# Create the StandardScaler instance
scaler = StandardScaler()

In [15]:
# Fit the Standard Scaler with the training data
# When fitting scaling functions, only train on the training dataset
X_scaler = scaler.fit(X_train)

In [16]:
# Scale the training and testing data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Display the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier only, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [17]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier

balanced_random_forest = BalancedRandomForestClassifier(n_estimators=1000, random_state=1)
balanced_random_forest.fit(X_train_scaled, y_train)

BalancedRandomForestClassifier(n_estimators=1000, random_state=1)

In [18]:
# Calculated the balanced accuracy score
y_pred_brf = balanced_random_forest.predict(X_test_scaled)
balanced_as_brf=balanced_accuracy_score(y_test, y_pred_brf)
print(balanced_as_brf)

0.7745204684723884

In [19]:
# Display the confusion matrix
cm_brf = confusion_matrix(y_test, y_pred_brf)
cm_df_brf = pd.DataFrame(
    cm_brf, index=["Actual High Risk", "Actual Low Risk"], columns=["Predicted High Risk", "Predicted Low Risk"]
)
cm_df_brf

                  Predicted High Risk  Predicted Low Risk
Actual High Risk                   56                  31
Actual Low Risk                  1620               15498

In [20]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred_brf))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.03      0.64      0.91      0.06      0.76      0.57        87
          1       1.00      0.91      0.64      0.95      0.76      0.60     17118

avg / total       0.99      0.90      0.65      0.94      0.76      0.60     17205

In [21]:
# List the features sorted in descending order by feature importance
importances = balanced_random_forest.feature_importances_
sorted(zip(balanced_random_forest.feature_importances_, X.columns), reverse=True)

[(0.07191320945389229, 'total_rec_prncp'),
 (0.06401356232400515, 'total_rec_int'),
 (0.060417812412970104, 'total_pymnt_inv'),
 (0.06027369257491616, 'last_pymnt_amnt'),
 (0.055712550813455414, 'total_pymnt'),
 (0.029449922851063237, 'int_rate'),
 (0.02278737054744858, 'issue_d'),
 (0.01854601936834862, 'dti'),
 (0.017476773422900736, 'installment'),
 (0.01716769596338444, 'annual_inc'),
 (0.01699850540817879, 'max_bal_bc'),
 (0.01643977147116226, 'mths_since_recent_inq'),
 (0.01605537986144758, 'out_prncp_inv'),
 (0.016040423323660888, 'il_util'),
 (0.01557866004720193, 'out_prncp'),
 (0.015429004138012856, 'bc_util'),
 (0.01532432589157398, 'mo_sin_old_il_acct'),
 (0.015295133278985453, 'revol_bal'),
 (0.015098642911098314, 'avg_cur_bal'),
 (0.015085765520124337, 'tot_hi_cred_lim'),
 (0.014476087969002963, 'all_util'),
 (0.013971855283338611, 'mo_sin_old_rev_tl_op'),
 (0.013814898631841679, 'total_bc_limit'),
 (0.013723173545666937, 'tot_cur_bal'),
 (0.013328475871092753, 'bc_open_to_buy'),
 (0.01327693073354268, 'mths_since_rcnt_il'),
 (0.013119041171605086, 'total_il_high_credit_limit'),
 (0.012957695050885223, 'total_bal_ex_mort'),
 (0.012761419506112846, 'total_rev_hi_lim'),
 (0.012679548921502443, 'total_bal_il'),
 (0.01254587991112304, 'mths_since_recent_bc'),
 (0.011057905595822913, 'loan_amnt'),
 (0.01071291300877456, 'mo_sin_rcnt_rev_tl_op'),
 (0.01062469654905776, 'total_acc'),
 (0.010615481193945007, 'num_rev_accts'),
 (0.010559767261783815, 'open_acc'),
 (0.009891367456224605, 'num_il_tl'),
 (0.0097015885235643, 'num_sats'),
 (0.009425394990617907, 'num_actv_rev_tl'),
 (0.009389988679889653, 'mo_sin_rcnt_tl'),
 (0.009020410874440665, 'pct_tl_nvr_dlq'),
 (0.008977996728732734, 'num_bc_tl'),
 (0.008951410686106378, 'num_op_rev_tl'),
 (0.008867817778544297, 'inq_last_12m'),
 (0.008802943920873822, 'num_rev_tl_bal_gt_0'),
 (0.00867039671146278, 'acc_open_past_24mths'),
 (0.008512499287891362, 'total_cu_tl'),
 (0.008394967665706172, 'total_rec_late_fee'),
 (0.008215477920336674, 'num_actv_bc_tl'),
 (0.007664196686601072, 'percent_bc_gt_75'),
 (0.0072001294345551145, 'inq_fi'),
 (0.006963366026594742, 'num_bc_sats'),
 (0.006893293480755913, 'open_il_24m'),
 (0.006756003588676425, 'open_rv_24m'),
 (0.006754391377914205, 'mort_acc'),
 (0.006592077770369193, 'num_tl_op_past_12m'),
 (0.006168877987751751, 'open_act_il'),
 (0.00563738813514961, 'next_pymnt_d'),
 (0.005527327876930176, 'inq_last_6mths'),
 (0.005037981711671919, 'open_acc_6m'),
 (0.004955862924047103, 'delinq_2yrs'),
 (0.0047407159990176815, 'open_il_12m'),
 (0.004718685641268974, 'verification_status'),
 (0.004525221456795835, 'open_rv_12m'),
 (0.0034427037031790767, 'tot_coll_amt'),
 (0.0032173439472260494, 'num_accts_ever_120_pd'),
 (0.0031444635639949897, 'home_ownership'),
 (0.001684139777403728, 'pub_rec_bankruptcies'),
 (0.001641982625308906, 'application_type'),
 (0.0016314742268921196, 'pub_rec'),
 (0.0013761291524806876, 'initial_list_status'),
 (0.0011010600292109395, 'num_tl_90g_dpd_24m'),
 (0.00028264361248359966, 'collections_12_mths_ex_med'),
 (0.00019028625039943658, 'chargeoff_within_12_mths'),
 (0.0, 'tax_liens'),
 (0.0, 'recoveries'),
 (0.0, 'pymnt_plan'),
 (0.0, 'policy_code'),
 (0.0, 'num_tl_30dpd'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'hardship_flag'),
 (0.0, 'delinq_amnt'),
 (0.0, 'debt_settlement_flag'),
 (0.0, 'collection_recovery_fee'),
 (0.0, 'acc_now_delinq')]

### Easy Ensemble Classifier

In [23]:
# Train the Classifier
from imblearn.ensemble import EasyEnsembleClassifier

Easy_Ensemble_Class = EasyEnsembleClassifier(n_estimators=100, random_state=1)
Easy_Ensemble_Class.fit(X_train_scaled, y_train)

EasyEnsembleClassifier(n_estimators=100, random_state=1)

In [24]:
# Calculated the balanced accuracy score
y_predition_eec = Easy_Ensemble_Class.predict(X_test_scaled)
bas_eec=balanced_accuracy_score(y_test, y_pred_brf)
print(bas_eec)

0.7745204684723884

In [27]:
# Display the confusion matrix
cm_eec = confusion_matrix(y_test, y_predition_eec)
cm_df_eec = pd.DataFrame(
    cm_eec, index=["Actual High Risk", "Actual Low Risk"], columns=["Predicted High Risk", "Predicted Low Risk"]
)
cm_df_eec

                  Predicted High Risk  Predicted Low Risk
Actual High Risk                   79                   8
Actual Low Risk                  1003               16115

In [29]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_predition_eec))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.07      0.91      0.94      0.14      0.92      0.85        87
          1       1.00      0.94      0.91      0.97      0.92      0.86     17118

avg / total       0.99      0.94      0.91      0.97      0.92      0.86     17205

### Final Questions

1. Which model had the best balanced accuracy score?

  # Both models had the same value. Equally accurate

2. Which model had the best recall score?

 # The balanced forest appears to have a lower recall score. 

3. Which model had the best geometric mean score?

  # The easy ensemble 
    
    
4. What are the top three features?
# Total Debt
# Borrower Income
# Debt to Income Ratio